body {
  margin: 0;
  padding: 0;
  font-family: Roboto;
}
a{
  text-decoration: none;
}
.add-btn{
  position: fixed;
  bottom:0;
  right:0;
}

.title{
  font-family:Kalam;
}
.question-card {
   max-width: 400px;
   margin: 100px auto;
   border-radius: 3px;
 }
.card-header{
  background-color: #ffab00;
}

 .table-header{
   color: #DOA331;
 }

.roomy-listItem{
  padding: 1% 5%;
  margin-bottom: 1%;
  min-width: 80%;
  font-weight:300;
}

.roomy-listItem p:hover{
  font-weight: 700;
}

.option-separator{
  text-align: center;
  color: #2E4668;
  padding: 0.5em;
}
